<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <title>
        <%= typeof title !=='undefined' ? title : 'ยินดีต้อนรับสู่สารสนเทศอาหารไทย' %>
    </title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
</head>

<body>
    <header>
        <h1>สารสนเทศอาหารไทย</h1>
        <nav>
            <a href="/">หน้าแรก</a>
            <a href="/menu">เมนูอาหาร</a>
            <a href="/about">ผู้พัฒนา</a>
        </nav>
    </header>
    <main>