<%- include('./partials/header') %>
    <h2>ยินดีต้อนรับสู่สารสนเทศอาหารไทย</h2>
    <p class="p1">"อาหารไทยแท้ รสชาติอร่อย"</p>
    <img src="/image/image.jpg" alt="ภาพตัวอย่าง" class="center-image">
    <%- include('./partials/footer') %>